  /*E possível utilizar mais de um file de style, sendo o
    2° - com preferência default, mas se caso no 1° a declaração do css
    seja mais espeficia terá a preferência.
    ex:
        2° - .card-cancel-button {background-color: black;}
        1° - div.card-cancel-button {background-color: black;} especifica que a class e de um div
  */
.card-cancel-button {
  background-color: rgb(172, 0, 100);
}
