<div class="card">
  <div class="card__plan card__item">
    Plano <strong>{{ tipo }}</strong>
  </div>
  <div class="card__price card__item">{{ getFullPrice() }}</div>
  <app-card-button></app-card-button>

  <app-card-button-cancel id="cancel-button-2"></app-card-button-cancel>

  <!--
    ex. :host + ::ng-deep scopo local SEMPRE USAR O :host
  Aplica a mudança do style nos elementos somente daquele scopo
  ou seja os filhos e pai, mas daquele component, não vaza para os demais
  component por causa do :host, se mais de um elementos
  utilizar a tag/class irá aplicar para todos do scopo.
  -->
  <app-card-button-cancel></app-card-button-cancel>
  <div class="card-cancel-button">TESTE SCOPO LOCAL :HOST</div>

      <!--
      [CUIDADO]!!!
      Pois o ::ng-deep, NÃO É APENAS PARA VERIFICAR OS
      ELEMENTOS FILHOS, ele irá verificar TUDO.
      por isso que ele modifica ele elementos do Pai
        <h2 class="card-cancel-button-2">TESTE</h2>
      e também o h2 do Filho que tiver a class 'card-cancel-button-2'
    -->
  <h2 class="card-cancel-button-2">TESTE</h2>

  <!--
    ::ng-deep - é um pseudo-seletor utilizado em Angular para estilos
     que precisam ser aplicados a componentes filhos, atravessando os
    limites de encapsulamento de estilos do Angular. Este pseudo-seletor
    permite que os estilos definidos em um componente pai afetem componentes
    filhos ou elementos dentro de componentes filhos, algo que normalmente não
    é permitido devido ao encapsulamento de estilos em Angular.
    (muitoutilizado em bibliotecas de terceiros)

    - aplica o style para todos qu têm a class, torna-se um estilo global.
   sintaxe:
    ::ng-deep .class-que-deseja-alterar

    ::ng-deep .card-cancel-button{
      background-color: rgb(131, 14, 106) !important;
    }
    [OBS] !important - sem isso não irá aplicar o stilo

    Para fazer mudanças em apenas um elemento utilize a estrategia
    dos id="cancel-button" ou class para vários, lembre-se do comportamento do ng-deep
    ex:
    ::ng-deep .cancel-button .card-cancel-button{
      background-color: rgb(131, 14, 106) !important;
    }

  -->

</div>

<!-- Interpolação {{ variavel/method }} -->

<div class="card" style="margin-top: 10px">
  <div class="card__plan card__item">
    Plano <strong>{{ plano.infos.preco }}</strong>
  </div>
  <div class="card__price card__item">R${{ plano.infos.preco }},00/Mês</div>
  <app-card-button></app-card-button>
</div>

<hr>

<!--  Ex. Encadeamento Opcional na interpolação, caso um objeto/atributo seja undefined/nullo/inexistente-->
<div class="card" style="margin-top: 10px">
  <div class="card__plan card__item">
    Plano <strong>{{ plano2.infos?.preco }}</strong>
  </div>
  <div class="card__plan card__item">
    <!-- Nesse exemplo, estamos utilizanod um if ternário, para retornar uma string caso seja 'undefined' -->
    Plano
    <strong>{{
      plano2.infos?.preco ? plano2.infos.preco : "Vazio"
    }}</strong>
  </div>
  <div class="card__price card__item">R${{ plano2.infos?.preco }},00/Mês</div>
  <app-card-button></app-card-button>
</div>

